
body{


    font-family: 'Montserrat', sans-serif;
}


.flex-style{

display: flex;


}
.half-width{

width: 50%;


}
.half-width img{


    width: 70%;

}

h1{


    font-size: 50px;
    font-weight: 700;


}
#y-color{

color: #FBA24F;

}
a{
    text-decoration: none;
    color: white;

background-image: linear-gradient(#FBA24F,#FF1E1E);
padding: 10px 25px;
border-radius: 20px;
}

.top-part{


padding-left: 120px;


}
.middle-part{
    margin-top: 20px;

background-image: url(img/2nd.png);
background-repeat: no-repeat;
background-size: 100%;
display: flex;

}

.middle-part img{
    margin-top: 10px;
    padding-left: 200px;
width: 28%;



}

.about{

padding-top: 130px; 
}

.Recipes{


text-align: center;


}

.box-style{
    width: 50%;
    box-shadow:10px 10px 20px  gray; margin-left: 5%;
margin-right: 2%;
padding-left: 20px;
border-radius: 10px;

}
.box-style img{
/* border: solid white 10px; */
width: 80%;
margin: 10px;
margin-top: 30px;

border-radius: 20px;

}
.one-third{

width: 30%;

}

.review-section{

margin-top: 20px;

}


.review-section h1{

font-size: x-large;
}
